/vendor
/node_modules
.env*
composer.phar
nbproject/private

# Generated css
/public/css/bootstrap.css
/public/css/bootstrap-theme.css
/public/css/weinstein.css

# Generated js
/public/js/weinstein.js
/public/js/weinstein.js.map
/app/storage/logs/laravel.log
/app/storage/sessions/
/app/storage/views/
/app/storage/meta/

/public/storage
Homestead.yaml
Homestead.json

# Bower components
/public/js/vendor

# Test report
tests/clover.xml
coverage
